<%= stylesheet_link_tag 'organisations' %>

<div class="welcomeUser">
  <h3>Welcome, <%= current_user.name %>!</h3>
</div>

<% if @organisations.count > 0 %> 
  <h1>Your Organisations</h1>
  <% @organisations.each do |organisation| %>
    <div class="orgRows">
      <div class="orgName"><p><%= organisation.name %></p></div>
      <%= link_to 'Edit', edit_organisation_path(organisation) %>
      <%= link_to "Show shifts", organisation_shifts_path(organisation) %>  <!-- Here is the change -->
    </div> 
  <% end %>
<% else %>
  <p>You don't belong to any organisations yet.</p>
<% end %>

<h1>All Organisations</h1>
<% @all_organisations.each do |organisation| %>
  <div class="orgRows"> 
    <div class="orgName"><p><%= organisation.name %></p></div>
    <div class="joinBtn"><%= button_to 'Join', join_organisation_path(organisation), method: :post unless @organisations.include?(organisation) %></div>
    <%= link_to "New shift", new_organisation_shift_path(organisation) %>
    
  </div>  
<% end %>

<h1>Create New Organisation</h1>
<%= form_for @new_organisation, url: organisations_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :hourly_rate %>
  <%= f.number_field :hourly_rate %>

  <%= f.submit "Create" %>
<% end %>
