<div id="<%= dom_id shift %>">
  <p>
    <strong>Start:</strong>
    <%= shift.start %>
  </p>

  <p>
    <strong>Finish:</strong>
    <%= shift.finish %>
  </p>

  <p>
    <strong>Break length:</strong>
    <%= shift.break_length %>
  </p>

  <p>
    <strong>User:</strong>
    <%= shift.user_id %>
  </p>

</div>
