<p style="color: green"><%= notice %></p>

<h1>Shifts</h1>

<div id="shifts">
  <% @shifts.each do |shift| %>
    <%= render shift %>
    <p>
    <%= link_to "Show this shift", organisation_shift_path(@organisation, shift) %>
    </p>
  <% end %>
</div>
<%= link_to 'Back to Home', organisations_path %>

<%= link_to "New Shift", new_organisation_shift_path(@organisation) %>

