<p style="color: green"><%= notice %></p>

<%= render @shift %>

<div>
<%= link_to "Edit this shift", edit_organisation_shift_path(@organisation, @shift) %> |
<%= link_to "Back to shifts", organisation_shifts_path(@organisation) %>
<%= button_to "Destroy this shift", organisation_shift_path(@organisation, @shift), method: :delete %>


</div>


